@import "vars";

footer{
  border-top: 1px solid black;
  padding-bottom: 50px;
  background: $secondary;
  svg{
    width: 25px;
    height: 25px;
    margin-right: .5em;
    path{
      fill: $primary-font-color;
      stroke: none;
    }
  }
  #contacts > div{
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;
    a{
      width: 50%;
      display: flex;
      align-items: center;
      &:hover{
        text-decoration: underline;
      }
      div{
        display: inline-block;
      }
      svg{
        min-height: 25px;
        min-width: 25px;
      }
    }

    @media screen and (max-width: 884px){
      a{
        width: 100%;
      }
    }
  }

  table{
    width: 100%;
    a{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    td{
      padding: 10px;
    }
  }
}