@import "vars";

.skill-filter {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  > div {
    width: 100%;
    text-align: center;
    padding: .5em;
    cursor: pointer;

    &.active {
      border-bottom: 1px solid $primary-font-color;
    }
  }

  @media screen and (max-width: 884px) {
    width: 100%;
  }
}

.skills-table {
  display: flex;
  padding: 50px 0;
  gap: 1em;
  justify-content: space-between;
  text-align: center;
}

.skills-table1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 192px;
  padding: 50px 0;
  row-gap: 1em;
  column-gap: 1%;
  flex-wrap: wrap;
  text-align: center;
  @media screen and (max-width: 687px) {
    height: 228px;
  }
  @media screen and (max-width: 532px) {
    height: 300px;
  }
  @media screen and (max-width: 470px) {
    height: auto;
  }

}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}